        /*Header and footer*/

        body {
            background-color: #fefeff;
            background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }          

        header, footer {
            display: grid;
            grid-template-rows: 0.5fr, 1fr, 1fr, 0.5fr;
            grid-template-columns: repeat(4, 1fr);
            background-color: black;
        }       

        .title, .text_footer1 {
            grid-row: 2/3;
            grid-column: 2/4;
        }

        .presentation, .text_footer2{
            grid-row: 3/4;
            grid-column: 2/4;
        }

        .star-common {
            width: 30px;
            height: 30px;
            background-color: gold;
            clip-path: polygon(
                50% 0%,       /* Point supérieur */
                61.8% 38.2%,  /* Entre sommet et angle droit (droite) */
                100% 38.2%,   /* Angle droit (droite) */
                69.1% 61.8%,  /* Entre angle droit et base (droite) */
                80.9% 100%,   /* Base (droite) */
                50% 76.4%,    /* Centre bas */
                19.1% 100%,   /* Base (gauche) */
                30.9% 61.8%,  /* Entre angle droit et base (gauche) */
                0% 38.2%,     /* Angle droit (gauche) */
                38.2% 38.2%   /* Entre sommet et angle droit (gauche) */
            );
            animation: rotate 2s linear infinite;
        }                       

        #star {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        #star2 {
            grid-row: 2 / 3;
            grid-column: 4 / 5;
        }        
        
        @keyframes rotate{
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
        
        .presentation > p, .text_footer1, .text_footer2 {
            text-align: center;
            color : red;
            font-size: 20px;
            font-weight: 700;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
        }

        #ferme{
            margin-left: 37%;
            height: 30px;
            width: 100px;
            text-align: center;
        }

        /*Titles*/
        h1 {
            border: 2px solid red;
            color: red;
            border-radius: 10px;
            width: fit-content;
            margin: 0 auto;
        }

        h2{
            font-size: 25px;
            font-weight: 700;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
            text-align: center;
            text-decoration: underline;
            color: white;
        }

        h3{
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
            text-align: center;
            color: red;
        }

        /*Navbar*/

        .navbar-color{
            background-color: #fde6bb;
        }

        /* Cacher par défaut les sous-menus */
        .dropdown-menu {
            display: none;
            background-color: #fde6bb;;
        }
  
        /* Afficher les sous-menus lorsque l'utilisateur survole l'élément parent */
        .dropdown:hover .dropdown-menu {
            display: block;
        }   
        
        .nav-link {
            color : red;
            font-weight: bold;
        }
        
        .nav-link:hover {
            color : darkred;
        }
        
        .dropdown-item {
            color : red;
        }

        /**********************************************************Sections**********************************************************/

        main{
            display : grid;
            grid-template-columns: 70vw 30vw;
            grid-template-rows: auto;
            gap: 1vw; 
        }

        #Les-listes, #Les-section, #block-ou-inline, #les-balises-de-style, #Photos-et-videos, #formulaires, .formulaire_de_connexion{
            background-color: #fde6bb;
            border-radius: 10px;
        }

        .grandes_sections p, li {
            color: black;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
        }

        .grandes_sections {
            margin-bottom : 4vh
        }

        /*Article*/

        #connexion_article{
            grid-column : 2/3;
            grid-row : 1/2; 
            max-height: fit-content;
            width: 94%;
            background-color: inherit;
            background-image: inherit;
        }

        fieldset {
            border: 2px solid red;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
        
        legend {
            font-size: 15px;
            font-weight: bold;
            color: red;
        }

        article{
            display: flex;
            flex-direction: column; /* Aligne les éléments verticalement */
            justify-content: center; /* Centre verticalement */
            align-items: center; /* Centre horizontalement */
            text-align: center; /* Centre le texte dans les éléments */
            background-color: black;
            border-radius: 10px;
            height: fit-content;
        }

        .text_article{
            color: white;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
        }

        .video-container {
            position: relative;
            width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
            cursor: pointer;
        }
          
        .video-thumbnail {
            width: 100%; /* Adapte la largeur de l'image à celle de son conteneur parent. */
            height: 100%; /* Adapte la hauteur de l'image à celle de son conteneur parent. */
            object-fit: cover; /* Redimensionne l'image pour remplir le conteneur tout en respectant ses proportions, en rognant si nécessaire. */
            display: block; /* Supprime l'espace ajouté par défaut par les images (comportement inline-block). */
        }        
          
        .play-button {
            position: absolute; /* Permet de positionner le bouton relativement à son conteneur parent positionné (dans ce cas, la vidéo). */
            top: 50%; /* Place le bouton à 50 % de la hauteur du conteneur parent. */
            left: 50%; /* Place le bouton à 50 % de la largeur du conteneur parent. */
            transform: translate(-50%, -50%); /* Recentre le bouton exactement au milieu en ajustant ses coordonnées en fonction de sa taille. */
            background-color: rgba(0, 0, 0, 0.7); /* Définit un arrière-plan noir semi-transparent (70 % d'opacité). */
            color: white; /* Définit la couleur du texte (symbole "▶") en blanc. */
            border: none; /* Supprime tout style de bordure par défaut. */
            border-radius: 50%; /* Transforme le bouton en un cercle parfait. */
            font-size: 2rem; /* Définit la taille du texte (symbole) à 2 fois la taille de la police de base. */
            padding: 1rem; /* Ajoute de l'espace autour du contenu (symbole "▶"), augmentant ainsi la taille du bouton. */
            cursor: pointer; /* Change le curseur en main (indiquant que l'élément est cliquable). */
            transition: background-color 0.3s; /* Ajoute une transition douce de 0,3 seconde pour les changements de couleur d'arrière-plan. */
        }
        
          
        .play-button:hover {
            background-color: rgba(0, 0, 0, 0.9);
        }          

        /*Listes*/

        #Les-listes{
            grid-column: 1/2;
            grid-row: 1/2;
        }

        /*Sections*/
        
        #Les-section{
            grid-column: 1/2;
            grid-row: 2/3;
            margin-bottom: 10px;
        }

        .table_container{
            width: 100%;
            max-width: 100%;
        }

        .table_container2, #star3, #star4 {
            display: none;
        }

        table {
            border-collapse: collapse; 
            border: 2px solid rgb(200,200,200);
            letter-spacing: 1px;
            font-size: 0.8rem;
        }

        td, th{
            border: 1px solid rgb(190,190,190);
            padding: 10px 20px;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
        }

        th{
            background-color: rgb(235,235,235);
        }

        td{
            text-align: center;
        }

        .first_line td:nth-child(even), .second_line td:nth-child(odd){
            background-color: rgb(245,245,245);
        }

        .first_line td:nth-child(odd), .second_line td:nth-child(even) {
            background-color: rgb(250,250,250);
        }

        .third_line td:nth-child(even), .fourth_line td:nth-child(odd){
            background-color: rgb(245,245,245);
        }

        .third_line td:nth-child(odd), .fourth_line td:nth-child(even) {
            background-color: rgb(250,250,250);
        }

        .fifth_line td:nth-child(odd) {
            background-color: rgb(250,250,250);
        }

        .fifth_line td:nth-child(even) {
            background-color: rgb(245,245,245);
        }

        .colHeaders {
              color :red;
        }

        #changement_de_contenu {
            display: grid;
            grid-template-columns: 2fr 0.5fr 4fr;
            grid-template-rows: 1fr 0.3fr 0.5fr;
        }

        #cv {
            grid-column: 1/2;
            grid-row: 1/3;
        }

        #changer, #revenir{
            grid-column: 2/3;
            grid-row: 2/3;
        }

        /*block inline*/
        
        #block-ou-inline{
            grid-column: 1/2;
            grid-row: 3/4;
        } 

        /*Style*/
        
        #les-balises-de-style{
            grid-column: 1/2;
            grid-row: 4/5;
        } 

        /*Photos et vidéos*/
        
        #Photos-et-videos{
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .image, .image_default, video, embed {
            max-width: 20%;
            max-height: 20%;
            border: 2px solid black;
        }

        /*Formulaire*/
        
        #formulaires{
            grid-column: 1/2;
            grid-row: 6/7;
            display:grid;
            grid-template-rows: 0.5fr, 1fr, 0.5fr;
            grid-template-columns: repeat(3, 1fr);
        }

        #nom_mdp, #commentaire, #radio, #liste{
            border : 2px solid black;
            padding : 5px;
        }

        #titre_formulaire{
            grid-row: 1/2;
            grid-column: 2/3;
        }

        #radio{
            grid-row: 2/3;
            grid-column: 1/2;
        }

        #liste{
            grid-row: 2/3;
            grid-column: 2/3
        }

        #commentaire{
            grid-row: 2/3;
            grid-column: 3/4
        }

        #description{
            resize : vertical;
        }

        #footer_formulaire{
            grid-row: 3/4;
            grid-column: 1/4;
        }

        #Soumettre{
            font-size: 15px;
            font-weight: bold;
            font-family: Arial, "Times new roman", "Courier New", sans-sérif;
            color: red;
        }

        /********************************************************************* Media queries  *********************************************************************/
        /* Styles pour les écrans mobiles */

        @media screen and (max-width: 768px) {
              
            header {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(2, 1fr);
                background-color: black;
            }

            #star3{
                width: 30px;
                height: 30px;
                grid-row: 1/2;
                grid-column: 2/3;
            }

            #star4{
                width: 30px;
                height: 30px;
                grid-row: 1/2;
                grid-column: 4/5;
            }
        
            .title, .text_footer1 {
                grid-column: 1 / -1;
                grid-row: 1/2;
                text-align: center;
            }

            .presentation, .text_footer2{
                grid-column: 1/ -1;
                grid-row: 2/3;
                text-align: center;
            }

            .presentation > p, .text_footer1, .text_footer2 {
                text-align: center;
                color : red;
                font-size: 15px;
                font-weight: 700;
                font-family: Arial, "Times new roman", "Courier New", sans-sérif;
            }

            h2{
                font-size: 20px;
            }

            #star, #star2, nav ul li ul li, .table_container {
                display: none;
            }

            main{
                display : grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto; 
                max-width: 100%;
            }

            #connexion_article{
                grid-row: 1/2;
                grid-column: 1/2;
                width: 100%; 
            }

            .grandes_sections{
                grid-row: 2/3;
                grid-column: 1/2;
            }

            table {
                border-collapse: collapse; 
                border: 1px solid rgb(200,200,200);
                letter-spacing: 0.5px;
                font-size: 0.5rem;
            }

            .table_container2, #star3, #star4{
                display: block;
            }

            #changement_de_contenu {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                gap : 2vh;
            }
    
            #cv {
                grid-column: 1/2;
                grid-row: 1/2;
            }
    
            #changer, #revenir{
                grid-column: 1/2;
                grid-row: 2/3;
                max-width: 30%;
            }

            #formulaires{
                display:grid;
                grid-template-rows: 0.5fr, repeat(3, 1fr), 0.5fr;
                grid-template-columns: 1fr;
            }
    
            #commentaire, #radio, #liste{
                border : 2px solid black;
                padding : 5px;
                grid-column: 1/2;
            }
    
            #titre_formulaire{
                grid-row: 1/2;
                grid-column: 1/2;
            }
    
            #radio{
                grid-row: 2/3;
            }
    
            #liste{
                grid-row: 3/4;
            }
    
            #commentaire{
                grid-row: 4/5;
            }

            #footer_formulaire{
                grid-row: 5/6;
            }

            iframe{
                width:100%;
            }
        }

        @media screen and (max-width: 1268px){
            header {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(2, 1fr);
                background-color: black;
            }

            #star3{
                width: 30px;
                height: 30px;
                grid-row: 1/2;
                grid-column: 2/3;
            }

            #star4{
                width: 30px;
                height: 30px;
                grid-row: 1/2;
                grid-column: 4/5;
            }
        
            .title, .text_footer1 {
                grid-column: 1 / -1;
                grid-row: 1/2;
                text-align: center;
            }

            .presentation, .text_footer2{
                grid-column: 1/ -1;
                grid-row: 2/3;
                text-align: center;
            }

            .presentation > p, .text_footer1, .text_footer2 {
                text-align: center;
                color : red;
                font-size: 15px;
                font-weight: 700;
                font-family: Arial, "Times new roman", "Courier New", sans-sérif;
            }

            h2{
                font-size: 20px;
            }

            #star, #star2, nav ul li ul li, .table_container {
                display: none;
            }

            main{
                display : grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                max-width: 100%;
            }

            #connexion_article{
                grid-row: 1/2;
                grid-column: 1/2;
                width: 100%; 
            }

            .grandes_sections{
                grid-row: 2/3;
                grid-column: 1/2;
            }

            table {
                border-collapse: collapse; 
                border: 1px solid rgb(200,200,200);
                letter-spacing: 0.5px;
                font-size: 0.5rem;
            }

            #star3, #star4, .table_container2{
                display: block;
            }

            #formulaires{
                display:grid;
                grid-template-rows: 0.5fr, repeat(3, 1fr);
                grid-template-columns: 1fr;
            }
    
            #commentaire, #radio, #liste{
                border : 2px solid black;
                padding : 5px;
                grid-column: 1/2;
            }
    
            #titre_formulaire{
                grid-row: 1/2;
                grid-column: 1/2;
            }
    
            #radio{
                grid-row: 2/3;
            }
    
            #liste{
                grid-row: 3/4;
            }
    
            #commentaire{
                grid-row: 4/5;
            }

            #footer_formulaire{
                grid-row: 5/6;
            }

            iframe {
                width: 830px; /* Largeur personnalisée */
                height: 515px; /* Hauteur personnalisée */
                max-width: 100%; /* S'adapte aux petits écrans */
              }
        }

        @media screen and (max-width: 1420px){
            #star, #star2 {
                display: none;
            }

            article{
                max-width: 100%;
            }
        }
 